# OS
.DS_Store/

# Vagrant
.vagrant/

# Python
*.py[cod]

# IDE/editors
*.swp

# Ansible
personal.yml
ansible/*.retry

# Application specific
oxideshop/

# PHPStorm
/.idea/
/.phpstorm-oxid.meta.php
/tmp/
